<!-- views/task-list.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <style>
    /* Add your styles here */
  </style>
</head>
<body>
  <h1><%= title %></h1>
  <ul>
    <% tasks.forEach(task => { %>
      <li>
        <ul><li>Task:-  <%= task.title %></li> <li>Desc:-  <%= task.description %> </li> <li>Due :-  <%= task.due_date %></li>  <li>Stats:- <%= task.status %></li></ul>
      </li>
      -
    <% }); %>
  </ul>
</body>
</html>
